<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGBS_oListProjects">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oListRuns">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oNewRun">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oNewRunWithUtilityData">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oCreateProject">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunStatus">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunStatusSettings">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetNearestWeatherStations">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetWeatherChartsZipFile">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetChartsURL">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetAnalysisInfoByCurrentUser">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetProjectInvariants">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oUpdateProjectHVACSystemByID">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetResultSettingFiles">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oRenameProject">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oRenameRun">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetResultSettingVersion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oUploadFiles">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetLatestCeaVersion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetVersionFiles">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialog">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogExistingProjectsPage">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogUtilityDataPage">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunStatusClientToken">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oGetRunIdForClientToken">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IGBS_oNewRunClientToken">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISolon">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oListProjects"
                contract="CEAService.IGBS_oListProjects" name="BasicHttpBinding_IGBS_oListProjects" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oListRuns"
                contract="CEAService.IGBS_oListRuns" name="BasicHttpBinding_IGBS_oListRuns" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oNewRun"
                contract="CEAService.IGBS_oNewRun" name="BasicHttpBinding_IGBS_oNewRun" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oNewRunWithUtilityData"
                contract="CEAService.IGBS_oNewRunWithUtilityData" name="BasicHttpBinding_IGBS_oNewRunWithUtilityData" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oCreateProject"
                contract="CEAService.IGBS_oCreateProject" name="BasicHttpBinding_IGBS_oCreateProject" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunStatus"
                contract="CEAService.IGBS_oGetRunStatus" name="BasicHttpBinding_IGBS_oGetRunStatus" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunStatusSettings"
                contract="CEAService.IGBS_oGetRunStatusSettings" name="BasicHttpBinding_IGBS_oGetRunStatusSettings" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetNearestWeatherStations"
                contract="CEAService.IGBS_oGetNearestWeatherStations" name="BasicHttpBinding_IGBS_oGetNearestWeatherStations" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetWeatherChartsZipFile"
                contract="CEAService.IGBS_oGetWeatherChartsZipFile" name="BasicHttpBinding_IGBS_oGetWeatherChartsZipFile" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetChartsURL"
                contract="CEAService.IGBS_oGetChartsURL" name="BasicHttpBinding_IGBS_oGetChartsURL" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetAnalysisInfoByCurrentUser"
                contract="CEAService.IGBS_oGetAnalysisInfoByCurrentUser" name="BasicHttpBinding_IGBS_oGetAnalysisInfoByCurrentUser" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetProjectInvariants"
                contract="CEAService.IGBS_oGetProjectInvariants" name="BasicHttpBinding_IGBS_oGetProjectInvariants" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oUpdateProjectHVACSystemByID"
                contract="CEAService.IGBS_oUpdateProjectHVACSystemByID" name="BasicHttpBinding_IGBS_oUpdateProjectHVACSystemByID" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetResultSettingFiles"
                contract="CEAService.IGBS_oGetResultSettingFiles" name="BasicHttpBinding_IGBS_oGetResultSettingFiles" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oRenameProject"
                contract="CEAService.IGBS_oRenameProject" name="BasicHttpBinding_IGBS_oRenameProject" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oRenameRun"
                contract="CEAService.IGBS_oRenameRun" name="BasicHttpBinding_IGBS_oRenameRun" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetResultSettingVersion"
                contract="CEAService.IGBS_oGetResultSettingVersion" name="BasicHttpBinding_IGBS_oGetResultSettingVersion" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oUploadFiles"
                contract="CEAService.IGBS_oUploadFiles" name="BasicHttpBinding_IGBS_oUploadFiles" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetLatestCeaVersion"
                contract="CEAService.IGBS_oGetLatestCeaVersion" name="BasicHttpBinding_IGBS_oGetLatestCeaVersion" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetVersionFiles"
                contract="CEAService.IGBS_oGetVersionFiles" name="BasicHttpBinding_IGBS_oGetVersionFiles" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialog"
                contract="CEAService.IGBS_oGetRunEnergySimulationDialog" name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialog" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogExistingProjectsPage"
                contract="CEAService.IGBS_oGetRunEnergySimulationDialogExistingProjectsPage"
                name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogExistingProjectsPage" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogUtilityDataPage"
                contract="CEAService.IGBS_oGetRunEnergySimulationDialogUtilityDataPage"
                name="BasicHttpBinding_IGBS_oGetRunEnergySimulationDialogUtilityDataPage" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunStatusClientToken"
                contract="CEAService.IGBS_oGetRunStatusClientToken" name="BasicHttpBinding_IGBS_oGetRunStatusClientToken" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oGetRunIdForClientToken"
                contract="CEAService.IGBS_oGetRunIdForClientToken" name="BasicHttpBinding_IGBS_oGetRunIdForClientToken" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGBS_oNewRunClientToken"
                contract="CEAService.IGBS_oNewRunClientToken" name="BasicHttpBinding_IGBS_oNewRunClientToken" />
            <endpoint address="https://gbs.autodesk.com/GBS/soap/CEAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolon"
                contract="CEAService.ISolon" name="BasicHttpBinding_ISolon" />
        </client>
    </system.serviceModel>
</configuration>